{
  "plugins": [
    "add-module-exports"
  ],
  "presets": [
    "es2015"
  ],
  "env": {
    "production": {
      "plugins": [
        "add-module-exports"
      ],
      "presets": [
        "es2015",
        "babili"
      ]
    }
  }
}
